{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% block content %}

  {% set key = content.field_font_size.value %}

  {% set fields = content['#block_content'] %}

  {% set classes = [
    'fr-highlight',
    fields.field_color.value ? 'fr-highlight--' ~ fields.field_color.value,
    fields.field_margin_top.value ? 'fr-mt-' ~ fields.field_margin_top.value,
    fields.field_margin_bottom.value ? 'fr-mb-' ~ fields.field_margin_bottom.value
  ] %}

  <div{{ attributes.addClass(classes) }}>

    {% set message = content.field_message.0 %}

    {% set font_size = '' %}
    {% if key == 1 %} 
      {% set font_size = ' class="fr-text--sm"' %}
    {% elseif key == 3 %} 
      {% set font_size = ' class="fr-text--lg"' %}
    {% endif %} 
    {% set font_size = '<p' ~ font_size ~ '>' %}

    {{ message['#text']|replace({'<p>': font_size })|raw }}

  </div>

{% endblock %}