{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% block content %}

  {% if content.field_position['#items'].getString() == 'c' %}
    {% set position = 'dsfr-center' %}
  {% elseif content.field_position['#items'].getString() == 'r' %}
    {% set position = 'dsfr-right' %}
  {% else %}
    {% set position = '' %}
  {% endif %}

  {% set classes = [
      content.field_margin_top['#items'].getString() ? 'fr-mt-' ~ content.field_margin_top['#items'].getString(),
      content.field_margin_bottom['#items'].getString() ? 'fr-mb-' ~ content.field_margin_bottom['#items'].getString(),
      position
    ] 
  %}

  <div{{ attributes.addClass(classes) }}>

    {{ title_prefix }}
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

    {# Link #}
    {% set item = 
      {
        url: content.field_action.0['#url'],
        options: content.field_action.0['#options'],
      }
    %} 

    {% if item.options.external %}

      {# Link #}
      {% set item = item|merge({ title: content.field_action.0['#title'] }) %} 

      {{ link(item.title, item.url, {
          'target': '_blank',
          'rel': 'noopener',
          'title': content.field_title ? content.field_title[0]['#context'].value
        }) 
      }}

    {% else %}

      {# Hide text #}
      {% set hide = content.field_hidden['#items'].getString() == 1 ? true : false %}

      {# Link #}
      {% set item = item|merge({ title: hide ? '' : content.field_action.0['#title'] }) %} 

      {# icon #}
      {% set icon = '' %}
      {% if content.field_icon['#items'].getString() and content.field_icon['#items'].getString() == 'l' %}
        {% set icon = ' fr-icon-arrow-right-line fr-link--icon-left' %}
      {% elseif content.field_icon['#items'].getString() and content.field_icon['#items'].getString() == 'r' %}
        {% set icon = ' fr-icon-arrow-right-line fr-link--icon-right' %}
      {% elseif content.field_icon['#items'].getString() is not defined and hide %}
        {% set icon = ' fr-icon-arrow-right-line fr-link--icon-left' %}
      {% endif %}

      {% set classes_link = 'fr-link' ~ icon %}
    
      {{ link(item.title, item.url, {
          'class': classes_link,
          'target':  '_self',
          'title': content.field_title ? content.field_title[0]['#context'].value
        }) 
      }}

    {% endif %}
    
  </div>

{% endblock %}