{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{% block content %}

  {% set fields = content['#block_content'] %}

  {% set classes = [
    'fr-callout',
    'fr-icon-information-line',
    fields.field_color.value ? 'fr-callout--' ~ fields.field_color.value,
    fields.field_margin_top.value ? 'fr-mt-' ~ fields.field_margin_top.value,
    fields.field_margin_bottom.value ? 'fr-mb-' ~ fields.field_margin_bottom.value
  ] %}

  <div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if fields.field_title.value %}
      <p{{ title_attributes.addClass('fr-callout__title') }}>{{ fields.field_title.value }}</p>
    {% endif %}
    {{ title_suffix }}
    <div class="fr-callout__text">
      {{ fields.field_message.value|raw }}
    </div>

    {# action: todo 
    {% if content.field_action.0['#title'] %}

      {% set item = 
        {
          title: content.field_action.0['#title'], 
          url: content.field_action.0['#url'],
          options: content.field_action.0['#options'],
        }
      %} 

      {% set target = item.options.external ? '_blank' : '_self' %}

      {{ link(item.title, item.url, {
          'class': 'fr-btn',
          'target': target
        }) 
      }}

    {% endif %}
    #}

  </div>

{% endblock %}